<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style media="screen">
      .file-size .unit{
        margin-left: 5px;
      }
    </style>
  </head>
  <body>
    <div id="root">{{{reactOutput}}}</div>
  </body>
</html>
