<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style media="screen">
      .file-size .unit{
        margin-left: 5px;
      }
    </style>
  </head>
  <body>
    <div id="root">{{{reactOutput}}}</div>
    <script>
      window.initialState=JSON.parse('{{{reactState}}}');
    </script>
    <script src="/assets/vendor/react.js"></script>
    <script src="/assets/vendor/react-dom.js"></script>
    <script src="/assets/app.js"></script>
  </body>
</html>
